a{
    display: block;
    text-decoration: none;
    color: #fff;
}

li{
    list-style: none;  
    
}



.container-fluid{
    background-color: #2b3035;
    color: #fff;    
}

.ms-6{
    margin-left: 2rem;
}