/* TAGS */

footer{
    font-size: 0.8rem;
    color: #fff;
}
h4{
    font-weight: 600;
    font-size: 1.3rem;
    min-width: 250px;
}    
a{
    display: block;
    text-decoration: none;
    color: #fff;
}

li{
    list-style: none;  
    
}
span{
    display: inline-block;
    margin-right:5px;
    margin-top: 10px;
}



.hover-light:hover{
    color: white;
}
