.bg-banner{
    background-image: url("../assets/images/banner.jpg");
    background-size: cover;
}

.vh-25{
    min-height:25vh;
}

.w-35{
    width:35%;
}

.w-30{
    min-width: 30%;
}